{% extends 'blank_layout.html' %}

{% block banner %}

{% include 'index_content/banner_layout.html' %}

{% endblock banner%}


{% block content %}

<!-- Feadtued Categories -->
{% include 'index_content/top_products.html' %}

<!-- Featured Products -->
{% include 'index_content/featured_products.html' %}

<!-- Offer -->
{% include 'index_content/offer.html' %}

<!-- Testimonial -->
{% include 'index_content/testimonial.html' %}

<!-- Brands -->
{% include 'index_content/brands.html' %}

{% endblock content%}